
@font-face {
   font-family: 'font';
   src: url("./font/theboldfont.ttf");
}

body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-image: url(../html/img/background-index.jpg);
	background-size: 100%;
}


/*Header */


header{
	height: 30px;
	background-color: #070f24;


}

#header{
	max-width: 1200px;
	display: flex;
	justify-content: flex-end;
	margin: 0 auto;
	height: 30px;

}

#buttons{
	display: flex;
	justify-content: space-between;
	width: 12%;
}
#header button{
	background: none;
	border: none;
	transition-duration: 0.5s;
}
#header button:hover{
	background: #00a6ed;
	border: none;
	transition-duration: 0.5s;
}


#header button a{
	color: #fff;
	text-decoration: none;
	font-weight: bold;
}

/* Main */

main{
	max-width: 1200px;
	margin: 0 auto;
	}

h1{
	font-size: 100px;
	text-align: center;
	padding: 0;
	margin: 0;
	margin-top: 30px;
	font-family: 'Font';
	font-weight: bold;
  background: -webkit-linear-gradient(#00a6ed, #070f24);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

/* Pesquisa */

#pesquisar{
	width: 100%
	max-width: 1200px;
	background-color: #070f24;
	border-radius: 20px;
	padding: 50px;
	margin-top: 30px;
	margin-bottom: 50px;

}

#pesquisar h2{
	color: #fff;
	font-family: arial;
	font-weight: bold;
}

#pesquisa{
	padding: 10px;
	width: 50%;
	border-radius: 10px;
	border: 2px solid #ccc;
	box-shadow: 0px 0px 5px #fff;
}




.div-produtos{
	width: 90%;
	margin: 0 auto;
	margin-top: 50px;
	padding: 30px;

	display: flex;

	background-color: #fff;
	border: solid 3px #00a6ed;
	border-radius: 20px;

}

.div-produtos img{
	
	border-radius: 10px;
}

.produtos{
	display: flex;
	flex-direction: column;

	width: 100%;
	margin-left: 40px;
	font-size: 25px;
	font-family: arial;
	font-weight: bold;
	color: #070f24;
}

.produtos p{
	margin: 0;
}

#vendaId {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 200px;
}

#vendaId input{
	width: 175px;
	padding: 10px;
	border: 2px solid #ccc;

}

#vendaId button{
	width: 100%;
	padding: 10px;
	background-color: #070f24;
	color: #fff;
	border: none;
	cursor: pointer;
}

#nenhumResultado{
	color: #fff;
	font-family: arial;
}

#avaliar input{
	padding: 5px;
	width: 100px;
}

#avaliar button{
	padding: 5px;
	border:#070f24 solid 2px;
	color: #fff;
	background-color: #070f24;

}
















.remove{
	display: none;
}

::-webkit-scrollbar {
width:10px;
height: 10px;
}
 
::-webkit-scrollbar-track {
background:#333;
}
 ::-webkit-scrollbar-thumb {
background: #2e9dd8;
}